
<div class="container">
	<h1>My Posts</h1>
	<p>All the posts that I have made.</p>
		<div class="row">

			<% @posts.each do |p| %>
			<div class="col-md-6">
				<div class="thumbnail">

			  	<h2><%= p.title %></h2><br>
			  	<%= image_tag p.image.url %><br>

			  	<%= link_to "Edit Post", edit_post_path(p) %>
			  	<!-- p acts as post by user id -->
			  	<%= link_to "View Post", p %>

				</div>
			</div>
			
			<% end %>

		</div>
		  <%= link_to "New Post", new_post_path %>
  </div>


