
<div class="container">
	<h1>My Posts</h1>
	<p>All the posts that I have made.</p>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
						<% @posts.each do |p| %>
				  	<h2><%= p.title %></h2><br>
				  	<%= image_tag p.image.url %><br>

				  	<%= link_to "Edit Post", edit_post_path(p) %>
				  	<!-- p acts as post by user id -->
				  	<%= link_to "View Post", p %>

				  	<% end %>

				</div>
			</div>
		</div>
  </div>


  <%= link_to "New Post", new_post_path %>
