<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

  <% @posts.each do |p| %>

  	Title: <%= p.title %><br>
  	Image: <%= image_tag p.image.url %>

  	<%= link_to "Edit Post", edit_post_path(p) %>
  	<!-- p acts as post by user id -->
  	<%= link_to "View Post", p %>

  <% end %>

  <%= link_to "New Post", new_post_path %>
