
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><%= @post.title %></h2><br>
			
			<%= image_tag @post.image.url %>
			<p><%= @post.description %></p>

			<h4>Comments</h4>
		   <% @post.comments.each do |comment| %>
		      <%= comment.body %>
			<% end %>

			<%= form_tag comments_path do %>
			   <%= text_field_tag :body %><br>
 				 <%= hidden_field_tag :post_id, @post.id %>
			   <%= submit_tag "Comment" %>
		  <% end %>

		</div>
	</div>
</div>