
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">


				<h2><%= @post.title %></h2><br>

				
				<%= image_tag @post.image.url %>
				<div class="thumbnail-body">
					<h1>About This Photo</h1>
					<p><%= @post.description %></p>
				</div>


				<h4>Suggestions:</h4>

				
			   <% @post.comments.each do |comment| %>
			   <div class="thumbnail-suggestion">
			      <i>"<%= comment.body %>"</i><br>
				 </div>
				 <% end %>

			
				<%= form_tag comments_path do %><br>
				   <%= text_area_tag :body, nil, placeholder: "Enter your suggestions...", class: "form-control"  %>
	 				 <%= hidden_field_tag :post_id, @post.id %><br>
				   <%= submit_tag "Submit", class: "btn btn-primary btn-md" %><br>
			  <% end %>



			</div>
		</div>
	</div>
</div>